/* 基础公共样式css调整文件 */
body{overflow: hidden;}
ul,li{list-style: none;}

/* 修改自定义弹窗的默认样式 modal的样式要放到最外面，否则在组件中样式是给不到的 */
.ivu-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  top: inherit !important;
  height: 100%;
}
.ivu-modal-content{
  width: 100%;
  border-radius: 0;
}
.ivu-btn{
  /*display: none;*/
}
.ivu-modal .ivu-input{
  height: 2rem !important;
  margin-top: 1rem;
}
.ivu-input:focus{
  border-color: #3780FC !important;
  box-shadow: none !important;
}

.nav{
  padding: 30px;
}
.nav a{
  padding: 0 20px;
  font-weight: bold;
  color: #2c3e50;
  }
.router-link-exact-active {
  color: #42b983;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D7D8DF;
}

/* 清除导航点击时候出现的灰色边框 */
a:focus{
  --webkit-box-shadow: none;
  box-shadow: none;
}

/* 百度地图logo隐藏 */
.anchorBL{display:none;} 
.BMap_cpyCtrl{display:none;} 

/* 百度地图信息框的样式编写 */
.infoRow{margin-top: 15px;display: flex;align-items: center;justify-content: space-between;}
.infoTitle{font-size: 20px;flex: 1;}
.infoImgs{width: 30%;}
.infoImgs img{margin-right: 10px;vertical-align: middle;cursor: pointer;}
.allCounts{width: 10%;font-size: 18px;color: #999;}
.allCounts span{font-size: 20px;color: #04a5f3;}
.addressinfos{font-size: 16px;color: #999;display: flex;align-items: center;}
.addressinfos span{padding-left: 15px;}
.twoBox{font-size: 14px;color: #999;display: flex;align-items: center;}
.itemOne{width: 110px;height: 110px;border: 1px solid #ccc;margin-right: 20px; text-align: center;}
.itemOne p{width: 100%;padding-top: 20px;padding-bottom: 10px;}
.itemOne span{display: block; width: 100%; font-size: 30px;color: #000;}
.serRound{width: 45%;}
.serItem{margin-bottom: 20px;display: flex;align-items: center;}
.serItem img{vertical-align: middle;}
.iconRight{margin-left: 20px;}
.iconRight p:nth-child(1){font-size: 14px;color: #999;}
.iconRight p:nth-child(2){font-size: 20px;color: #000;margin-top: 5px;}

.carInfotitle{font-size: 20px;color: #000;}
.carinfoRow{margin-top: 15px;}
.carinfoRow .serItem{margin-top: 8px;margin-bottom: 0;}
.carinfoRow .iconRight p:nth-child(2){font-size: 16px;}

.visual_Scroll{
  height: 90vh;
}
@media screen and (min-width: 1440px) and (max-width: 1679px) {
  .visual_Scroll{
    height: 88vh;
  }
}
@media screen and (width: 1366px) {
  .visual_Scroll{
    height: 90vh;
  }
}
@media screen and (min-width: 1151px) and (max-width: 1280px)  {
  .visual_Scroll{
    height: 90vh;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1150px)  {
  .visual_Scroll{
    height: 85vh;
  }
}
